.title{
    display: flex;
    justify-content: center;
}

#containerFull{
    margin: auto;
    display: flexbox;
    justify-content: center;
    padding: 30px;
    border: 1px solid #000;
    width: 446px;
    height: 446px;
}

.containerLetrasNumeross{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid #000;
    width: 446px;
    height: 446px;
}

.letras #A, #B, #C, #D, #E, #F, #G, #H{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 50px;
    float: left;
}

.numeros #n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 50px;
    float: left;
}

#containerTabuleiro{
    margin: auto;
    display: flexbox;
    justify-content: center;
    border: 1px solid #000;
    width: 400px;
    height: 400px;
}

#A1, #A3, #A5, #A7,
#B2, #B4, #B6, #B8,
#C1, #C3, #C5, #C7,
#D2, #D4, #D6, #D8,
#E1, #E3, #E5, #E7,
#F2, #F4, #F6, #F8,
#G1, #G3, #G5, #G7,
#H2, #H4, #H6, #H8{
    background-color: #FFF;
    width: 50px;
    height: 50px;
    float: left;
}

#A2, #A4, #A6, #A8,
#B1, #B3, #B5, #B7,
#C2, #C4, #C6, #C8,
#D1, #D3, #D5, #D7,
#E2, #E4, #E6, #E8,
#F1, #F3, #F5, #F7,
#G2, #G4, #G6, #G8,
#H1, #H3, #H5, #H7{
    background-color: #000;
    width: 50px;
    height: 50px;
    float: left;
}